<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='description' content='SEV Debtor'>
  <meta name='author' content='smuemd'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>

  <!--http://www.favicomatic.com-->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="img/apple-touch-icon-152x152.png" />
  <link rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16" />
  <meta name="application-name" content="SEV-Sales-Partner-App"/>
  <meta name="msapplication-TileColor" content="#FFFFFF" />
  <meta name="msapplication-TileImage" content="mstile-144x144.png" />

  <block name='title'>
    <title>SEV Sales Partner App (Debtor)</title>
  </block>
  <link rel='stylesheet' href='css/index.css'>
</head>
<body>
<block name="App"></block>
<!--<main id='{{ pageId }}'>-->
<!--<block name='content'></block>-->
<!--</main>-->

<block name='javascript'>
  <!-- using stromdao-businessobject@0.5.54 -->
  <!--<script src='https://unpkg.com/stromdao-businessobject@0.5.54/dist/loader.js'></script>-->
  <script src='vendor/js/boloader.js'></script>
  <script src='js/main.js' defer></script>
</block>
</body>
</html>
